<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Utenti</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <app-tabs></app-tabs>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ng-container *ngIf="list as list else loading">
      <ion-item *ngFor="let item of list">
        <ion-avatar item-start>
          <img src="/assets/images/profile/user.svg" *ngIf="!item.photoURL">
          <img [src]="item.photoURL" *ngIf="item.photoURL">
        </ion-avatar>
        <ion-label padding>
          <h2>{{item.displayName}}</h2>
          <p>
            <ion-buttons>
              <ion-button [routerLink]="['/profile', item.uid]" color="primary" class="responsive-button">
                <ion-icon name="bookmark"></ion-icon>
                <ion-label>Visualizza profilo</ion-label>
              </ion-button>
              <ion-button (click)="addToContact(item)" class="responsive-button" *ngIf="!item.friend">
                <ion-icon name="add"></ion-icon>
                <ion-label>Aggiungi agli amici</ion-label>
              </ion-button>
              <ion-button class="responsive-button" *ngIf="item.friend" [routerLink]="['/chats', item.uid]">
                <ion-icon name="chatboxes"></ion-icon>
                <ion-label>Invia Messaggio</ion-label>
              </ion-button>
            </ion-buttons>

          </p>
        </ion-label>
      </ion-item>

    </ng-container>
    <ng-template #loading>
      <ion-item text-center lines="none">
        <ion-spinner></ion-spinner>
      </ion-item>
    </ng-template>
  </ion-list>

  <ion-infinite-scroll [disabled]="disabledInfiniteScroll" (ionInfinite)="loadData($event)" position="bottom">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>