<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Aggiungi Media</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="validations_form">
    <div *ngIf="fileAsDataURL">
      <ion-thumbnail>
        <img [src]="fileAsDataURL"
          *ngIf=" contentType==='image/jpg' || contentType==='image/png' || contentType==='image/jpeg'" />
        <img src="/assets/images/pdf-icon.png" height="40px" *ngIf=" contentType==='application/pdf'">
      </ion-thumbnail>
    </div>
    <ion-item>
      <ion-label position="floating">Aggiungi un commento</ion-label>
      <ion-input type="textarea" formControlName="text"></ion-input>
      <ion-buttons slot="end">
        <ion-button (click)="sendAttachment()" (keyup)="onKey($event)" [disabled]="validations_form.invalid">
          <ion-icon name="md-send"></ion-icon>
        </ion-button>
        <div class="fileUpload">
          <ion-icon name="attach" color="primary"></ion-icon>
          <input class="upload" type="file" type="file" (change)="handleInputChange($event)" formControlName="file"
            accept=".png,.jpg,.pdf" />
        </div>
      </ion-buttons>
    </ion-item>

  </form>