<form [formGroup]="validations_form">
  <div *ngIf="fileAsDataURL">
    <ion-thumbnail>
      <img [src]="fileAsDataURL" />
    </ion-thumbnail>
  </div>
  <ion-item>
    <ion-label position="floating">Aggiungi un post</ion-label>
    <ion-input type="textarea" (keyup)="onKey($event)" formControlName="text"></ion-input>
    <ion-buttons slot="end">
      <ion-button (click)="sendPost()" [disabled]="validations_form.invalid">
        <ion-icon name="md-send"></ion-icon>
      </ion-button>
      <div class="fileUpload">
        <ion-icon name="attach" color="primary"></ion-icon>
        <input class="upload" type="file" type="file" (change)="handleInputChange($event)" formControlName="file"
          accept=".png,.jpg" />
      </div>
    </ion-buttons>
  </ion-item>

</form>