<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Aggiungi Post</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="validations_form">
    <div *ngIf="fileAsDataURL">
      <ion-thumbnail>
        <img [src]="fileAsDataURL" />
      </ion-thumbnail>
    </div>

    <h5>Seleziona un file per l'upload: (.png, .jpg, .pdf)</h5>
    <input type="file" (change)="handleInputChange($event)" accept=".png,.jpg,.pdf" />
    <br>
    <ion-item lines="none">
      <ion-label position="floating">Titolo</ion-label>
      <ion-input type="text" formControlName="title"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="floating">Testo</ion-label>
      <ion-input type="textarea" formControlName="text"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label color="danger" *ngIf="validations_form.invalid">
        Inserire almeno un valore tra Testo e/o Titolo.
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-button (click)="sendPost()" [disabled]="validations_form.invalid">
        <ion-icon name="md-send"></ion-icon>
        <ion-label>Salva</ion-label>
      </ion-button>
    </ion-item>
  </form>
  <p>{{(uploadProgress | async)}}</p>
  <div *ngIf="uploadState | async; let state">
    <ion-button color="secondary" (click)="task.pause()" [disabled]="state === 'paused'">Pausa</ion-button>
    <ion-button color="secondary" (click)="task.cancel()" [disabled]="!(state === 'paused' || state === 'running')">
      Annulla</ion-button>
    <ion-button (click)="task.resume()" [disabled]="state === 'running'" color="secondary">Riprendi</ion-button>
  </div>
</ion-content>