<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ng-container *ngIf="user$ | async as user">
        <ion-header>
          <ion-toolbar padding>
            <ion-avatar>
              <img src="/assets/images/profile/user.svg" *ngIf="!user.photoURL">
              <img [src]="user.photoURL" *ngIf="user.photoURL">
            </ion-avatar>
            <ion-label>{{user.displayName}}</ion-label>
            <ion-text slot="end">{{version}}</ion-text>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-list>
            <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
              <ion-item [routerDirection]="'root'" [routerLink]="[p.url]" routerLinkActive="active-link">
                <ion-icon slot="start" [name]="p.icon"></ion-icon>
                <ion-label>
                  {{p.title}}
                </ion-label>
              </ion-item>
            </ion-menu-toggle>
            <ion-menu-toggle auto-hide="false">
              <ion-item (click)="logout()">
                <ion-icon slot="start" name="log-out"></ion-icon>
                <ion-label>
                  Sign Out
                </ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-list>
        </ion-content>
      </ng-container>
    </ion-menu>
    <ion-router-outlet main (activate)="!!$event.pageWillEnter ? $event.pageWillEnter() : undefined">
    </ion-router-outlet>
  </ion-split-pane>
</ion-app>