<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <app-search></app-search>
  </ion-toolbar>
  <ion-toolbar>
    <app-tabs></app-tabs>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <app-add-post></app-add-post>
  <ng-container *ngIf="(listeningOnchange$ | async) as list ">
    <ng-container *ngFor="let item of list">
      <app-post [postId]="item.id"></app-post>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="(list$ | async) as list else loading">
    <ng-container *ngFor="let item of list">
      <app-post [postId]="item.id"></app-post>
    </ng-container>
  </ng-container>
  <ng-template #loading>
    <ion-item text-center lines="none">
      <ion-spinner></ion-spinner>
    </ion-item>
  </ng-template>

  <ion-infinite-scroll (ionInfinite)="emitScroll($event)" position="bottom">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>