<ion-tabs>

  <ion-tab-bar slot="top">
    <ion-tab-button routerLink="/home" routerLinkActive="active-link">
      <ion-icon name="calendar"></ion-icon>
    </ion-tab-button>

    <ion-tab-button color="secondary" routerLink="/contacts" routerLinkActive="active-link">
      <ion-icon name="contacts"></ion-icon>
      <ion-badge color="danger" *ngIf="requests$ | async as num" item-end>{{num }}</ion-badge>
    </ion-tab-button>

    <ion-tab-button routerLink="/chats" routerLinkActive="active-link">
      <ion-icon name="chatboxes"></ion-icon>
      <ion-badge color="danger" *ngIf="messages$ | async as num" item-end>{{num }}</ion-badge>
    </ion-tab-button>

    <ion-tab-button routerLink="/profile" routerLinkActive="active-link">
      <ion-icon name="information-circle"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>