<ion-tabs>

  <ion-tab-bar slot="top">
    <ion-tab-button routerLink="/home" routerLinkActive="active-link">
      <ion-icon name="calendar"></ion-icon>
    </ion-tab-button>

    <ion-tab-button color="secondary" routerLink="/notifications" routerLinkActive="active-link">
      <ion-icon name="contacts"></ion-icon>
      <ion-badge color="danger" *ngIf="(notifications$ | async)?.contactNotifications as n" item-end>{{n}}</ion-badge>
    </ion-tab-button>

    <ion-tab-button routerLink="/chats" routerLinkActive="active-link">
      <ion-icon name="chatboxes"></ion-icon>
      <ion-badge color="danger" *ngIf="(notifications$ | async)?.messages as n" item-end>{{n }}</ion-badge>
    </ion-tab-button>

    <ion-tab-button routerLink="/profile" routerLinkActive="active-link">
      <ion-icon name="information-circle"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>