<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <app-search></app-search>
  </ion-toolbar>
  <ion-toolbar>
    <app-tabs></app-tabs>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <div text-right>
    <ion-button [routerLink]="['/posts','create']">
      <ion-icon name="add"></ion-icon>
      Aggiungi un nuovo post
    </ion-button>
  </div>
  <ng-container *ngIf="list as list else loading">
    <ion-card *ngFor="let item of list">
      <ion-card-title>
        <ion-item lines="none">
          <ion-avatar>
            <img src="/assets/images/profile/user.svg" *ngIf="!item.photoURL">
            <img [src]="item.photoURL" *ngIf="item.photoURL">
          </ion-avatar>
          <ion-label>
            <h3>{{item.displayName}} </h3>
            <small text-rigth> {{item.creationDate.seconds * 1000 | date:'d MMM, h:mm a'  }} </small>
          </ion-label>
        </ion-item>
      </ion-card-title>
      <ion-card-content>
        <ion-img [src]="item.media" *ngIf="item.media"></ion-img>
        <h2> {{item.title}}</h2>
        <p>
          {{item.text}}
        </p>
      </ion-card-content>
    </ion-card>

  </ng-container>
  <ng-template #loading>
    <ion-item text-center lines="none">
      <ion-spinner></ion-spinner>
    </ion-item>
  </ng-template>

  <ion-infinite-scroll [disabled]="disabledInfiniteScroll" (ionInfinite)="loadData($event)" position="bottom">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/posts','create']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>