.empty{
    background: rgb(211, 209, 209);
    border:1px solid rgb(168, 167, 167);
    height: 200px;
}
ion-thumbnail {
    min-width: 7rem;    
    min-height: 7rem;
    img {
        max-width: 7rem;    
        min-width: 7rem;
    }
}
.dense .item .sc-ion-label-md-h{
    margin:0;
}
ion-label {
    white-space: normal !important;
 }
 a{
    text-decoration: none;
    font-weight: bold;
 }