<ng-container *ngIf="(post$ | async) as item else loading">
  <ion-card>
    <ion-card-title>
      <ion-item lines="none">
        <ion-avatar>
          <img src="/assets/images/profile/user.svg" *ngIf="!item.photoURL">
          <img [src]="item.photoURL" *ngIf="item.photoURL">
        </ion-avatar>
        <ion-label>
          <h3>{{item.displayName}} </h3>
          <p text-rigth> <small>{{item.creationDate.seconds * 1000 | date:'d MMM, h:mm a'  }}</small> </p>
        </ion-label>
      </ion-item>
    </ion-card-title>
    <ion-card-content>
      <ion-thumbnail *ngIf="item.media">
        <img [src]="item.media">
      </ion-thumbnail>
      <h2> {{item.title}}</h2>
      <p>
        {{item.text}}
      </p>
      <ion-list lines="none" class="dense">
        <ion-item *ngFor="let comment of list$ | async">
          <ion-avatar>
            <img src="/assets/images/profile/user.svg" *ngIf="!item.photoURL">
            <img [src]="comment.photoURL" *ngIf="comment.photoURL">
          </ion-avatar>
          <ion-label>
            <h2>{{comment.displayName}} </h2>
            <h3>{{comment.text}}</h3>
            <p text-rigth> <small>{{item.creationDate.seconds * 1000 | date:'d MMM, h:mm a'  }}</small> </p>
          </ion-label>
        </ion-item>
        <ion-item *ngIf="showToogleButton$ | async">
          <ion-buttons slot="end">
            <ion-button (click)="toggleCommentClick()" size="small">
              <ion-label *ngIf="!(clicks$ | async)">Mostra Tutti</ion-label>
              <ion-label *ngIf="(clicks$ | async)">Mostra Meno</ion-label>
              <!-- <ion-label *ngIf="!(clicks | async)?">Nascondi</ion-label> -->
            </ion-button>
          </ion-buttons>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Aggiungi un commento</ion-label>
          <ion-input type="textarea" (keyup)="onKey($event)" [(ngModel)]="comment"></ion-input>
          <ion-buttons slot="end">
            <ion-button (click)="addComment()" [disabled]="!comment">
              <ion-icon name="md-send"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ng-container>
<ng-template #loading>
  <ion-card>
    <ion-card-content>
      <div class="empty"></div>
    </ion-card-content>
  </ion-card>
</ng-template>